* {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #f9f9f9;
  min-width: 384px;
}

h3, h4 {
  font-weight: bold;
}

#placeholder {
  height: 100px;
}

.navbar {
  background-color: #ffffff;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding: 25px 0;
}

.top-bar {
  list-style: none;
}

.top-bar li {
  padding: 0 2px;
}

nav #menu {
  font-weight: bold;
}

nav #menu li:last-child a {
  font-size: 2em;
  font-weight: normal;
}

nav #menu #home-button {
  color: #a89574;
}

nav #social_networks li {
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
}

nav #social_networks {
  padding: 0.2em;
}

nav #menu button {
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 99px;
}

button.rss {
  color: #f8902e;
  border: 1px solid #f8902e;
}

button.facebook {
  color: #677fb5;
  border: 1px solid #677fb5;
}

button.twitter {
  color: #70c2e9;
  border: 1px solid #70c2e9;
}

button.dribble {
  color: #e39fc6;
  border: 1px solid #e39fc6;
}

button.pinterest {
  color: #d8545d;
  border: 1px solid #d8545d;
}

.navbar-brand span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.day {
  color: #c2c2c2;
}

.lite {
  color: #a89574;
}

.jumbotron {
  margin-bottom: 0;
  background: #2a2a2a;
  color: #c7c7c7;
}

.jumbotron h1 {
  color: #a89574;
}

.jumbotron #purchaseButton {
  color: #a89574;
  background: none;
  border: 2px solid #a89574;
  font-weight: bold;
}

#purchase {
  background-color: #f4f4f4;
  color: #767676;
  border-bottom: 1px solid #e7e7e7;
}

#purchase #purchaseNow {
  background: none;
  color: #a89574;
  border: 2px solid #a89574;
  font-weight: bold;
}

#purchase #seePricing {
  background: none;
  color: #a8747e;
  border: 2px solid #a8747e;
  font-weight: bold;
}

#process {
  color: #767676;
}


#process .thumbnail, #stuff .thumbnail {
  border: none;
  text-align: center;
  padding: 0;
  margin: 13px;
}

#process .thumbnail .caption p, #stuff .thumbnail .caption {
  border: none;
  text-align: center;
  font-size: 0.72em;
  padding: 0;
  margin: 0;
  color: #767676;
}

#process .thumbnail .caption h4, #stuff .thumbnail .caption {
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

#process .thumbnail .caption h4 span, #stuff .thumbnail .caption {
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

#process .thumbnail .img_wrapper {
  display: inline-block;
  border: 2px solid #a89574;
  border-radius: 999px;
}

#process .thumbnail {
  background: none;
}

#process .thumbnail .caption {
  color: #767676;
}

#process .thumbnail .caption span {
  color: #a89574;
}

#process img {
  padding: 2em;
  width: 120px;
  height: 120px;
}

#stuff {
  color: #818181;
}

#stuff img {
  width: 100%;
  margin: 0;
}

#stuff .thumbnail {
  padding: 0;
  border: 2px solid #f4f4f4;
  background-color: rgba(255, 255, 255, 0.5);
}

#postsandabout {
  color: #767676;
}

#postsandabout .date_wrapper {
  color: #a89574;
  border: 2px solid;
  border-radius: 99px;
  width: 4em;
  text-align: center;
}

#postsandabout .date_wrapper h4 span {
  font-size: 1.6em;
}

#postsandabout .blog_statistics, #postsandabout a {
  color: #a89574;
}

#postsandabout ul {
  list-style-type: circle;
}

#citation {
  background-color: #f4f4f4;
  color: #818181;
  text-align: center;
  border-top: 1px solid #bbbbbb;
}

#citation i {
  color: #bbbbbb;
  font-size: 4em;
}

#citation footer {
  color: #a89574;
}

#pre-footer {
  background-color: #393939;
  color: #d2d2d2;
}

#pre-footer h3 {
  color: #efefef;
}

#pre-footer img {
  margin: 0 5px;
}

#pre-footer #twitter ul {
  list-style-image: url(../images/twitter.png)
}

#pre-footer #contact input, #pre-footer #contact textarea {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

#pre-footer #contact #submit {
  background: none;
  border: 2px solid #a6a6a6;
  border-radius: 5px;
  padding: 0 20px;
}

#footer {
  background-color: #333333;
  color: #d2d2d2;
}

#footer footer {
  margin: 20px 0;
}



@media screen and (max-width: 767px) {
  .navbar #social_networks, .navbar .navbar-nav li:last-child {
    display: none;
  }

  .navbar #menu {
    text-align: center;
  }

  .navbar-collapse {
    margin: -20px;
  }

  #postsandabout .row {
    text-align: center;
  }

  #postsandabout .date_wrapper {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  body .navbar p {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .navbar #navigation li {
    margin: 0 -5px;
  }
}

@media screen and (max-width: 992px) {
  #pre-footer #contact form > * {
    display: block;
  }

  #pre-footer #contact form {
    text-align: center;
  }

  #pre-footer h3{
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  #stuff .thumbnail p {
    font-size: 0.7em;
  }
  #stuff .thumbnail p strong {
    font-size: 1.2em;
  }

  #stuff .thumbnail br {
    display: none;
  }
}