body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

nav.navbar a {
  padding-top: 40px;
  height: 100px;
}

nav.navbar {
  background: #ffffff;
  font-size: 1.4em;
}

.navbar-brand {
  font-size: 2em;
}

.company {
  color: #ee8129;
}

.name {
  color: #3070a8;
}

nav li.active {
  border-bottom: 5px solid #3070a8;
}

.placeholder {
  height: 100px;
}

#specialist {
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgba(0, 25, 55, 0.4);
}

#specialist:after {
  content: "";
  background: url(../images/pattern.png), url(../images/laptop.png) center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#specialist img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#specialist h3 {
  color: #ffffff;
  font-size: 36px;
}

#specialist h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
}

#specialist p {
  color: #ffffff;
  font-style: italic;
  font-family: Calibri;
  font-size: 20px / 30px;
}

#specialist a {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 1px;
  padding: 1em 1.5em;
}

#advantages {
 text-align: center;
}

#advantages h2 {
  color: #40525c;
  font-weight: 700;
}

#advantages .thumbnail {
  border: none;
}

#advantages .thumbnail h3 {
  color: #3070a8;
  font-size: 30px;
}

#advantages .thumbnail p {
  color: #999999;
}

#people {
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  overflow: hidden;
}

#people:after {
  content: "";
  background: url(../images/pattern.png), url(../images/people.png) right;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#people h2 {
  color: #ee8129;
  font-weight: 300;
  font-size: 26px;
  line-height: 48px;
}

#people h3 {
  color: #ffffff;
  font-style: italic;
  font-size: 19px;
  line-height: 30px;
}

#people ul {
  color: #9d9d9d;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

#people ul li span {
  font-size: 14px;
}

#people ul li:nth-child(2) {
  color: #3070a8;
}

#offers {
  text-align: center;
}

#offers .offer {
  display: inline-block;
}

#offers .base {
  padding-top: 0px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin: 7px;
}

#offers .base:hover {
  padding: 7px;
  box-shadow: 0px 0px 12.87px 0.13px #0874b2;
  margin: 0px;
}

#offers #standard .base {
  background: #37c2d3 ;
}

#offers #best .base {
  background: #ee8129 ;
}

#offers #ultimate .base {
  background: #1cb79a ;
}

#offers .header {
  padding: 20px 0 15px 0;
  color: #ffffff;
  font-size: 24px;
}

#offers .name {
  margin: 10px;
}

#offers .ad {
  background: white;
  padding: 10px;
  font-size: 24px;
  color: #35495a;
}

#offers .price {
  color: #35495a;
  font-weight: 700;
  font-size: 72px;
  line-height: 60px;
}

#offers sup {
  color: #35495a;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
}

#offers sub {
  color: #35495a;
  font-weight: 400;
  font-size: 18px;
  line-height: 60px;
}


#offers .proposals {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
}

#offers li {
  margin: 2px;
  padding-left: 10px;
  color: #888c94;
  font-weight: 400;
  font-size: 15px;
}

#offers li:nth-child(odd) {
  background: #edf5fd;
}

#offers li:nth-child(even) {
  background-color: #f5f5f6;
}

#offers .enroll {
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 10px;
}

#offers #standard .enroll {
  background-color: #3371a6;
  box-shadow: 0px 3px 0px 0.00px #16436a;
}

#offers #best .enroll {
  background-color: #ee8129;
  box-shadow: 0px 3px 0px 0.00px #b3560b;
}

#offers #ultimate .enroll {
  background-color: #3371a6;
  box-shadow: 0px 3px 0px 0.00px #16436a;
}

#offers img {
  padding: 0 5px;
}

#clients {
  font-family: 'Trebuchet MS';
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../images/pattern.png), url(../images/collage.png);
  overflow: hidden;
  position: relative;
}

#clients .header {
  margin: 30px;
  font-size: 3em;
}

#clients .header p {
  color: #3170a8;
}

#clients .header span {
  color:#ee8129
}

#clients .client {
  height: 98px;
  margin: 25px 25px;
  display: inline-block;
}

#clients .client > * {
  vertical-align: middle;
}

#clients .regalies {
  border-bottom: 2px dotted grey;
  height: 1.5em;
  margin: 10px 10px;
  padding-bottom: 0px;
}

#clients .name {
  float: left;
}

#clients .customer {
  float: right;
}

#clients .name, .customer {
  color: #3070a8;
  font-style: italic;
}


.comment {
  background: #f7f7f7;
  display: inline-block;
  width: 300px;
  height: 98px;
  text-align: justify;
  position: relative;
  margin-left: 25px;
  visibility: hidden;
  float: right;
}

.comment:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 16px solid;
  border-color: transparent #f7f7f7 transparent transparent;
  margin-left: -30px;
  margin-top: 34px;
}

#clients .text {
  padding: 0 5px;
  margin: 5px 5px 0 5px;
}

img:hover ~ .comment, img:hover ~ .arrow {
  visibility: visible;
}

#pre-footer {

}

#pre-footer .address-col {
  text-align: center;
}

#pre-footer .map-col {
  text-align: center;
  padding: 0;
}

#pre-footer .address-col .address-list {
  list-style-type: none;
  color: #666666;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
}

#pre-footer .address-col .address-list li:first-child:before {
  content: url(../images/place.png);
  padding-right: 5px;
}

#pre-footer .address-col .address-list li:last-child:before {
  content: url(../images/email.png);
  padding-right: 5px;
}

#pre-footer .address-col .address-list li:nth-child(5):before {
  content: url(../images/phone.png);
  padding-right: 5px;
}

#pre-footer .address-col .social-networks-list li{
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

#pre-footer .address-col .social-networks-list .facebook{
  font-size: 2em;
  color: #ffffff;
  background: #4967a9;
}

#pre-footer .address-col .social-networks-list .twitter{
  font-size: 2em;
  color: #ffffff;
  background: #1ab2e8;
}

#pre-footer .address-col .social-networks-list .linkedin {
  font-size: 2em;
  color: #ffffff;
  background: #007ab9;
}

#pre-footer {
  position: relative;
  overflow: hidden;
}

#pre-footer .img-map {
  position: absolute;
}

footer {
  background: #3070a8;
  text-align: center;
  color: #ffffff;
}

footer span {
  color: #1d1b1b;
}

@media screen and (max-width: 1199px) {
  nav.navbar {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 991px) {
  nav.navbar {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 767px) {
  nav.navbar {
    text-align: center;
  }
  
  nav.navbar .navbar-right a {
    height: 50px;
    padding-top: 17px;
  }
}