* {
    margin: 0;
    padding: 0;
}

.background {
    background: #8a2be2;
}

ul {
    color: #ffffff;
    list-style-type: none;
    font-family: 'Economica';
    font-weight: bold;
    width: 900px;
    margin: 0 auto;
    font-size: 1.5em;
}

li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

li:hover {
    background: #f5f5f5;
    color: #808080;
}

li:last-child {
    float: right;
}