* {
    margin: 0;
    padding: 0;
}

.background {
    background: deepskyblue;
    position: relative;
}

.menu {
    color: white;
    list-style-type: none;
    font-family: 'Impact';
    width: 900px;
    margin: 0 auto;
    font-size: 1.5em;
    position: static;
}

li {
    position: static;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

li:hover, li:hover .submenu {
    background: whitesmoke;
    color: gray;
    display: inline-block;
}

.submenu {
    font-size: 0.7em;
    font-family: sans-serif;
    list-style-type: none;
    display: none;
    position: absolute;
}

.submenu li {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -5px;
    margin-right: 15px;
    background: whitesmoke;
}