span {
    color: white;
    padding: 4px;
    border-radius: 50px;
}

label[for=red] {
    color: red;
}

label[for=green] {
    color: green;
}

label[for=blue] {
    color: blue;
}

span.red {
    background-color: red;
    display: none;
}

span.green {
    background-color: green;
    display: none;
}

span.blue {
    background-color: blue;
    display: none;
}

#red:checked ~ span.red {
    display: inline;
}

#green:checked ~ span.green {
    display: inline;
}

#blue:checked ~ span.blue {
    display: inline;
}