body {
    text-align: center;
}

ul, div {
    list-style-type: none;
    margin:5px;
    padding:5px;
    color: #ffffff;
    font-size: larger;
    font-family: sans-serif;
    background: #808080;
    display: inline-block;
}

li {
    margin: inherit;
    padding: inherit;
    border-radius: 8px;
}

li.important {
    font-weight: bold;
    background: #ff4500;
}

li:not(.important) {
    background: #ffa500;
}

.travel {
    display: block;
}

.places li {
    display: inline;
}

.places li:last-child, .places li:first-child {
    background: none;
}