span {
    color: #ffffff;
    padding: 4px;
    border-radius: 50px;
}

label[for=red] {
    color: #ff0000;
}

label[for=green] {
    color: #00ff00;
}

label[for=blue] {
    color: #0000ff;
}

span.red {
    background-color: #ff0000;
    display: none;
}

span.green {
    background-color: #00ff00;
    display: none;
}

span.blue {
    background-color: #0000ff;
    display: none;
}

#red:checked ~ span.red {
    display: inline;
}

#green:checked ~ span.green {
    display: inline;
}

#blue:checked ~ span.blue {
    display: inline;
}