* {
    padding: 0;
    margin: 0;
    color: #666666;
    font-family: 'Trebuchet MS';
}

body {
    background: grey;
    text-align: center;
    background: url(images/Layer-66-copy-2.png), #3070a8;
}

.header {
    margin: 50px;
    font-size: 2em;
}

.header p {
    color: #3170a8;
}

.header span {
    color:#ee8129
}

.client {
    height: 98px;
    margin: 25px 25px;
    display: inline-block;
}

.client > * {
    vertical-align: middle;
}

.regalies {
    border-bottom: 2px dotted grey;
    height: 1.5em;
    margin: 10px 10px;
    padding-bottom: 0px;
}

.name {
    float: left;
}

.customer {
    float: right;
}

.name, .customer {
    color: #3070a8;
    font-style: italic;
}


.comment {
    background: #f7f7f7;
    display: inline-block;
    width: 300px;
    height: 88px;
    text-align: justify;
    visibility: hidden;
    outline: 5px solid #f7f7f7;
}

.text {
    padding: 0 5px;
    margin: 5px 5px 0 5px;
}

.arrow {
    display: inline-block;
    border: 15px solid;
    border-color: transparent #f7f7f7 transparent transparent;
    visibility: hidden;
}

.background-shader {
    margin: -50px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: -1;
}

img:hover ~ .comment, img:hover ~ .arrow {
    visibility: visible;
}