body {
  font-family: sans-serif;
  font-weight: 600;
  background-color: #fff8dc;
}

header, .table-length {
  text-align: center;
  background-color: #f5f5dc;
}

header h1 {
  border-bottom: 3px solid #808080;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

header, footer, .table-length, #my-table td {
  padding: 5px;
}

.table-length {
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.35);
}

table {
  margin-top: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
  background-color: #ffffff;
}

.table-length span {
  padding: 2px;
  border: 1px solid #808080;
  border-radius: 2px;
  background-color: #ffffff;
}

th:hover {
  cursor: pointer;
  cursor: hand;
}

th i {
  position: relative;
}

th i .bg {
  position: absolute;
  left: 0;
}

footer {
  border-top: 1px solid #808080;
  padding-top: 10px;
  text-align: center;
  background-color: #2f4f4f;
  color: azure;
  height: 100px;
}

footer p {
  margin-top: 25px;
}

@media screen and (max-width: 600px) {
  table {
    width:100%;
  }
  
  thead {
    display: inline;
  }
  
  tr:nth-of-type(2n) {
    background-color: inherit;
  }
  
  tr td:first-child {
    background: #f0f0f0;
    font-weight: bold;
    font-size: 1.3em;
  }
  
  tbody td {
    display: block;
    text-align: center;
  }
  
  tbody td:before { 
    content: attr(data-th); 
    display: block;
    text-align: center;  
  }
}